<p>ABOUT THE PROJECT</p>
<p><br>Everyone knows that communication is key to a healthy relationship - but doesn’t make it easy! Communication when it comes to sex and desire can be particularly difficult: the fear of being judged or dismissed can easily creep into the picture even in a strong relationship. The hope for “Yes, please!” is that it will be a conversation starter for couples about sex and sexual desires, in a way that allows partners to answer honestly by focusing on mutual interests.<br><br><br>

    “Yes, please!” is far from perfect or finished, and as of right now is built around broader questions for couples. In it’s most basic form, this website’s intention has been to cater to all couples regardless of gender or sexual orientation. In order to accomplish a level of inclusivity the questions had to remain broad in nature, but as “Yes, please!” develops couples will be able to partake in a questionnaire that is tailored to their relationship.<br><br><br>

    Please remember that the results of the questionnaire are simply an indication of interest on a partners behalf and in no way signals consent for any given sexual activity. Please head to the contact page with any questions and suggestions, and thank you for visiting!<br><br><br>
</p>

