<p><br>Have something on your mind?<br><br><br> Eventually this neat little form will actually do something - mainly allowing you to send suggestions and feedback. For now, send your thoughts to <u>totallyrealemail@yesplease.com</u>.<br><br><br></p>

<!--<md-input-container>-->
    <textarea class="textarea" rows="8" cols="57">Enter your message or suggestion here and hit the submit button. Sadly, it won't do anything...
    </textarea>
<!--</md-input-container>-->

<md-button class="md-raised" id="submitBtn">Send Message</md-button>
<br><br><br>