<p>QUESTIONNAIRE</p>

        <div class="question-container" ng-repeat="question in questionsArray">
                <div ng-show="question.show">

                <h3>{{question.name}}</h3>
                    <p><b>{{question.definition}}</b></p>
                    <p><i>{{question.quote}}</i></p>

                <div class="inputForm">
                    <p>Check the box for how interested you are in the activity with 5 being very interested!</p>
                    <form name="questionForm">
                        <input ng-model="answer.response" type="radio" name="{{question._id}}" value="1">1
                        <br>
                        <input ng-model="answer.response" type="radio" name="{{question._id}}" value="2">2
                        <br>
                        <input ng-model="answer.response" type="radio" name="{{question._id}}" value="3">3
                        <br>
                        <input ng-model="answer.response" type="radio" name="{{question._id}}" value="4">4
                        <br>
                        <input ng-model="answer.response" type="radio" name="{{question._id}}" value="5">5
                        <br>
                        <button ng-click="submitAnswer(answer)">Submit Answer</button>
                    </form>

                </div>
                </div>
        </div>

